<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid ct-no-padding">
  <div class="card fixed-top no-border">
    <div class="card-header">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page"><i class="fa fa-chevron-left black-icon" aria-hidden="true"></i></a>
      <strong class="heading-padding text-muted">Edit Page</strong>
      <button class="btn btn-link float-right" (click)="f.ngSubmit.emit()"
              routerLink="/user/{{userId}}/website/{{websiteId}}/page"><i
        class="fa fa-check black-icon" aria-hidden="true"></i></button>
    </div>
    <div class="card-body">
      <form (ngSubmit)="update()" #f="ngForm">
        <div class="form-group">
          <label class="lab-no-m">Name</label>
          <input
            [(ngModel)]="name"
            name="name"
            type="text"
            class="form-control"
            placeholder="{{name}}">
          <label class="lab-no-m">Title</label>
          <input
            [(ngModel)]="title"
            name="title"
            type="text"
            class="form-control"
            placeholder="{{title}}">

        </div>
      </form>
      <button routerLink="/user/{{userId}}/website/{{websiteId}}/page" (click)="delete()"
              class="btn btn-danger btn-block">Delete
      </button>

    </div>
    <div class="card-footer fixed-bottom">
      <a class="float-right" routerLink="/user/{{userId}}"><i class="fa fa-user " aria-hidden="true"></i></a>
    </div>
  </div>


</div>
</body>
</html>
